@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Apercu Bold';
    src: url(../fonts/apercu_bold.woff2) format('woff2'),
      url(../fonts/apercu_bold.woff) format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Apercu Mono';
    src: url(../fonts/apercu_mono.woff2) format('woff2'),
      url(../fonts/apercu_mono.woff) format('woff');
    font-display: swap;
  }

  * {
    @apply box-border;
  }
  *:focus {
    @apply outline-none;
  }
  body {
    @apply antialiased h-full min-h-screen dark:bg-black dark:text-white;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    /* @apply dark:text-white; */
  }
  a:hover {
    @apply underline;
  }
}
